<!doctype html>
<html>

<head>

    <title>ImageIT</title>

    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
      <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

</head>

<body unresolved>

<sampler-scaffold label="ImageIT" fit>
    <ripple-item label="Home" tag="home" url="/home"></ripple-item>
    <ripple-item label="Uploaded" tag="uploaded" url="/uploaded"></ripple-item>
    <ripple-item label="About" tag="about" url="/about"></ripple-item>
    <ripple-item style="height:0px;display: none;" label="Viewing Image" tag="" url=""></ripple-item>
</sampler-scaffold>

<noscript>
You do not have JS enabled.  Here's a fallback!
    <form action="/" id="imgUpload" method=post class=add-entry enctype="multipart/form-data">
        <input type="file" id="fileInput" name="fileInput"/>
        <input type="submit" id="submit" name="submit"/>
    </form>
</noscript>

</body>

</html>
