<html>
<head>
        <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script src="{{ url_for('static', filename='bower_components/webcomponentsjs/webcomponents.js') }}">
    </script>

    <link rel="import" href="{{ url_for('static', filename='bower_components/font-roboto/roboto.html') }}">

    <link rel="import" href="{{ url_for('static', filename='bower_components/core-media-query/core-media-query.html') }}">

    <style shim-shadowdom>
        body {
            font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
            font-size: 14px;
            margin: 0;
            padding: 24px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-touch-callout: none;
        }

        img {
            width: auto;
            height: auto;
            display: block;
            max-height: 100%;
            max-width: 100%;
        }
    </style>
    <base target="_parent" />

</head>
<body unresolved>

<a href="/images/{{ image.file_name }}.{{ image.file_ext }}" class="image">
	<img src="/images/{{ image.file_name }}.{{ image.file_ext }}">
</a>

  <core-media-query id="mediaQuery" query="max-width: 800px"></core-media-query>

  <script>

    document.querySelector('#mediaQuery').addEventListener('core-media-change',
      function(e) {
        document.body.classList.toggle('core-narrow', e.detail.matches);
      });

  </script>
</body>
</html>
