<html>
<head>
        <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">


    <style>
        body {
            font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
            font-size: 14px;
            margin: 0;
            padding: 24px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-touch-callout: none;
        }

    </style>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='imageit.css') }}">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

</head>
<body>

<div class="pure-g">
    <div class="pure-u-1-6"></div>

    <div class="pure-u-md-1 pure-u-sm-1 pure-u-lg-2-3">
    <h1>Viewing Image</h1>
        <a href="/images/{{ image.file_name }}.{{ image.file_ext }}" class="image">
            <img class="pure-img" src="/images/{{ image.file_name }}.{{ image.file_ext }}">
        </a>
    </div>
    
    <div class="pure-u-1-6"></div>
</div>

</body>
</html>
